body {
  color: rgb(250, 218, 218);
}


#presentacion {
  height: 300px;
}

div.card {
  background: rgb(109, 111, 241);
}

div.card:nth-child(odd) {
  background: rgb(74, 75, 141);
}

@media only screen and (max-width: 551px) {
  #presentacion {
    height: fit-content;
  }
}